boto3==1.9.180
celery==4.3.0
Django==2.2.1
django-cors-headers==3.0.1
django-environ==0.4.5
django-extensions==2.1.9
django-filter==2.2.0
django-fsm==2.6.1
django-storages==1.7.1
djangorestframework==3.9.4
djangorestframework-simplejwt==4.3.0
django-rest-passwordreset==1.0.0
django-silk==3.0.2
drf-yasg==1.16.1
gunicorn==19.9.0
gevent==1.4.0
Pillow==6.1.0
packaging==19.1
psycopg2-binary==2.8.2
pycurl==7.43.0.3
sentry-sdk==0.10.2
SQLAlchemy==1.3.5
